.u-section-1 .u-sheet-1 {
  min-height: 119px;
}

.u-section-1 .u-text-1 {
  margin: 40px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 553px;
}

.u-section-2 .u-video-1 {
  width: 985px;
  height: 497px;
  margin: 28px auto;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-2 .u-video-1 {
    width: 940px;
    height: 474px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-2 .u-video-1 {
    width: 720px;
    height: 363px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-2 .u-video-1 {
    width: 540px;
    height: 272px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 227px;
  }

  .u-section-2 .u-video-1 {
    width: 340px;
    height: 171px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 137px;
}

.u-section-3 .u-text-1 {
  margin: 21px auto 0;
}

.u-section-3 .u-btn-1 {
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  transition-duration: 0.5s;
  font-size: 1.875rem;
  margin: 12px auto 21px;
  padding: 0;
}

.u-section-3 .u-btn-1,
.u-section-3 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1:hover {
  text-decoration: underline !important;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1.hover {
  text-decoration: underline !important;
}

.u-section-3 .u-btn-2,
.u-section-3 .u-btn-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-btn-2.u-btn-2.u-btn-2:hover {
  text-decoration: underline !important;
}

.u-section-3 .u-btn-2.u-btn-2.u-btn-2.hover {
  text-decoration: underline !important;
}.u-section-4 .u-sheet-1 {
  min-height: 622px;
}

.u-section-4 .u-list-1 {
  margin: 35px 0 42px;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 545px;
}

.u-section-4 .u-image-1 {
  background-image: url("/images/Screenshot12-55.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-4 .u-image-2 {
  background-image: url("/images/Screenshot22.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-4 .u-image-3 {
  background-image: url("/images/Screenshot42.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-4 .u-image-4 {
  background-image: url("/images/Screenshot32-61.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 10px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 449px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 33px;
}.u-section-6 .u-sheet-1 {
  min-height: 752px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 53px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 699px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 24px;
}

.u-section-6 .u-text-1 {
  margin: 0 139px 0 auto;
}

.u-section-6 .u-image-1 {
  width: 516px;
  height: 389px;
  margin: 25px 30px 0 auto;
}

.u-section-6 .u-text-2 {
  margin: 25px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 699px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 24px;
}

.u-section-6 .u-text-3 {
  margin: 0 149px 0 auto;
}

.u-section-6 .u-image-2 {
  width: 516px;
  height: 389px;
  margin: 25px 30px 0 auto;
}

.u-section-6 .u-text-4 {
  margin: 11px 3px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 576px;
  }

  .u-section-6 .u-image-1 {
    width: 422px;
    height: 318px;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 576px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 120px;
  }

  .u-section-6 .u-image-2 {
    width: 422px;
    height: 318px;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 103px;
  }

  .u-section-6 .u-image-1 {
    width: 312px;
    height: 235px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 89px;
  }

  .u-section-6 .u-image-2 {
    width: 312px;
    height: 235px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 439px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 59px;
}

.u-section-7 .u-text-1 {
  margin: 10px auto;
}.u-section-8 .u-sheet-1 {
  min-height: 549px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 549px;
}

.u-section-8 .u-container-layout-1 {
  padding: 29px 8px;
}

.u-section-8 .u-image-1 {
  width: 516px;
  height: 389px;
  margin: 0 16px 0 auto;
}

.u-section-8 .u-text-1 {
  margin: 22px 16px 0 22px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 549px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 24px;
}

.u-section-8 .u-image-2 {
  width: 516px;
  height: 389px;
  margin: 0 30px 0 auto;
}

.u-section-8 .u-text-2 {
  margin: 25px 6px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-8 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 453px;
  }

  .u-section-8 .u-image-1 {
    width: 454px;
    height: 342px;
    margin-right: 0;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 453px;
  }

  .u-section-8 .u-image-2 {
    width: 422px;
    height: 318px;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-image-1 {
    width: 344px;
    height: 259px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-image-2 {
    width: 312px;
    height: 235px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-image-1 {
    width: 324px;
    height: 244px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 55px;
}

.u-section-9 .u-text-1 {
  margin: 8px auto;
}.u-section-10 .u-sheet-1 {
  min-height: 574px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 574px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px 8px;
}

.u-section-10 .u-image-1 {
  width: 516px;
  height: 389px;
  margin: 0 auto;
}

.u-section-10 .u-text-1 {
  margin: 25px 19px 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 574px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-10 .u-image-2 {
  width: 516px;
  height: 389px;
  margin: 0 auto;
}

.u-section-10 .u-text-2 {
  margin: 25px 27px 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-10 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 473px;
  }

  .u-section-10 .u-image-1 {
    width: 454px;
    height: 342px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 473px;
  }

  .u-section-10 .u-image-2 {
    width: 470px;
    height: 354px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-image-1 {
    width: 344px;
    height: 259px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-image-2 {
    width: 360px;
    height: 271px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 200px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-image-1 {
    width: 324px;
    height: 244px;
  }

  .u-section-10 .u-image-2 {
    width: 340px;
    height: 256px;
  }
}