.u-section-1 .u-sheet-1 {
  min-height: 119px;
}

.u-section-1 .u-text-1 {
  margin: 40px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-video-1 {
  width: 882px;
  height: 445px;
  margin: 28px auto;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-2 .u-video-1 {
    width: 720px;
    height: 363px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 327px;
  }

  .u-section-2 .u-video-1 {
    width: 540px;
    height: 272px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 226px;
  }

  .u-section-2 .u-video-1 {
    width: 340px;
    height: 171px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 137px;
}

.u-section-3 .u-text-1 {
  margin: 21px auto 0;
}

.u-section-3 .u-btn-1 {
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  transition-duration: 0.5s;
  font-size: 1.875rem;
  margin: 12px auto 21px;
  padding: 0;
}

.u-section-3 .u-btn-1,
.u-section-3 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1:hover {
  text-decoration: underline !important;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1.hover {
  text-decoration: underline !important;
}

.u-section-3 .u-btn-2,
.u-section-3 .u-btn-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-btn-2.u-btn-2.u-btn-2:hover {
  text-decoration: underline !important;
}

.u-section-3 .u-btn-2.u-btn-2.u-btn-2.hover {
  text-decoration: underline !important;
}.u-section-4 .u-sheet-1 {
  min-height: 33px;
}.u-section-5 .u-sheet-1 {
  min-height: 622px;
}

.u-section-5 .u-list-1 {
  margin: 35px 0 42px;
}

.u-section-5 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 545px;
}

.u-section-5 .u-image-1 {
  background-image: url("/images/Screenshot12.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-5 .u-image-2 {
  background-image: url("/images/Screenshot22.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-5 .u-image-3 {
  background-image: url("/images/Screenshot42.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-5 .u-image-4 {
  background-image: url("/images/Screenshot32.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 10px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 449px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 33px;
}.u-section-7 .u-sheet-1 {
  min-height: 691px;
}

.u-section-7 .u-text-1 {
  margin: 24px auto 0 109px;
}

.u-section-7 .u-text-2 {
  margin: -39px 143px 0 auto;
}

.u-section-7 .u-image-1 {
  width: 516px;
  height: 389px;
  margin: 25px auto 0 0;
}

.u-section-7 .u-image-2 {
  width: 516px;
  height: 389px;
  margin: -389px 0 0 auto;
}

.u-section-7 .u-text-3 {
  margin: 11px 0 0 624px;
}

.u-section-7 .u-text-4 {
  margin: -161px 608px 86px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-3 {
    margin-left: 424px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 408px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-3 {
    margin-left: 204px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 188px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-3 {
    margin-left: 24px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 8px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-7 .u-text-2 {
    margin-top: -303px;
    margin-right: 90px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 257px;
    margin-top: 302px;
  }

  .u-section-7 .u-image-2 {
    width: 340px;
    height: 257px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 36px;
    margin-left: 0;
  }

  .u-section-7 .u-text-4 {
    margin-top: -111px;
    margin-right: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 33px;
}.u-section-9 .u-sheet-1 {
  min-height: 602px;
}

.u-section-9 .u-text-1 {
  margin: 24px auto 0;
}

.u-section-9 .u-image-1 {
  width: 516px;
  height: 389px;
  margin: 25px auto 0 0;
}

.u-section-9 .u-image-2 {
  width: 516px;
  height: 389px;
  margin: -389px 0 0 auto;
}

.u-section-9 .u-text-2 {
  margin: 25px 608px 0 0;
}

.u-section-9 .u-text-3 {
  margin: -50px 0 50px 624px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-2 {
    margin-right: 408px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 424px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-2 {
    margin-right: 188px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 204px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-2 {
    margin-right: 8px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 337px;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 257px;
  }

  .u-section-9 .u-image-2 {
    width: 340px;
    height: 257px;
    margin-top: -396px;
  }

  .u-section-9 .u-text-2 {
    margin-top: 132px;
    margin-right: 0;
  }

  .u-section-9 .u-text-3 {
    margin-left: 0;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 33px;
}.u-section-11 .u-sheet-1 {
  min-height: 627px;
}

.u-section-11 .u-text-1 {
  margin: 25px auto 0;
}

.u-section-11 .u-image-1 {
  width: 516px;
  height: 389px;
  margin: 25px auto 0 0;
}

.u-section-11 .u-image-2 {
  width: 516px;
  height: 389px;
  margin: -389px 0 0 auto;
}

.u-section-11 .u-text-2 {
  margin: 25px 608px 0 0;
}

.u-section-11 .u-text-3 {
  margin: -100px 0 50px 624px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-2 {
    margin-right: 408px;
  }

  .u-section-11 .u-text-3 {
    margin-left: 424px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-text-2 {
    margin-right: 188px;
  }

  .u-section-11 .u-text-3 {
    margin-left: 204px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-2 {
    margin-right: 8px;
  }

  .u-section-11 .u-text-3 {
    margin-left: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-11 .u-image-1 {
    width: 340px;
    height: 257px;
  }

  .u-section-11 .u-image-2 {
    width: 340px;
    height: 257px;
    margin-top: -257px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 0;
  }

  .u-section-11 .u-text-3 {
    margin-left: 0;
  }
}