.header-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #24292E;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.header-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-navlink {
  display: contents;
}
.header-nameandtitle {
  flex: 0 0 auto;
  width: 341px;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
}
.header-nameandtitle:hover {
  border-top-left-radius: 25px;
}
.header-name {
  color: var(--dl-color-gray-900);
  font-size: 35px;
  font-family: Roboto Mono;
}
.header-title {
  color: var(--dl-color-primary-800);
  font-size: 25px;
}
.header-socialandresume {
  flex: 0 0 auto;
  width: 130px;
  height: 65px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-social {
  flex: 0;
  width: 195px;
  height: 61px;
  display: flex;
  margin-top: 10px;
  align-items: flex-start;
  margin-right: 0px;
}
.header-link {
  display: contents;
}
.header-icon {
  fill: var(--dl-color-primary-900);
  width: 35px;
  height: 35px;
  align-self: center;
  margin-left: 4px;
  margin-right: 4px;
  text-decoration: none;
}
.header-link1 {
  display: contents;
}
.header-icon2 {
  fill: var(--dl-color-primary-900);
  width: 35px;
  height: 35px;
  align-self: center;
  margin-left: 4px;
  margin-right: 4px;
  text-decoration: none;
}
.header-link2 {
  display: contents;
}
.header-icon4 {
  fill: var(--dl-color-primary-900);
  width: 35px;
  height: 35px;
  align-self: center;
  margin-left: 4px;
  margin-right: 4px;
  text-decoration: none;
}
.header-resume {
  color: var(--dl-color-primary-800);
  font-size: 25px;
  align-self: flex-start;
  text-decoration: none;
}

@media(max-width: 991px) {
  .header-nameandtitle {
    margin-top: 10px;
  }
  .header-socialandresume {
    margin-top: 10px;
  }
  .header-resume {
    align-self: flex-start;
  }
}
@media(max-width: 767px) {
  .header-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .header-header {
    height: 180px;
    padding: var(--dl-space-space-unit);
  }
}

.no-memory-no-memory {
  flex: 0 0 auto;
  margin: 10px;
  display: flex;
  position: relative;
  transition: 0.1s;
  align-items: flex-start;
  border-color: var(--dl-color-primary-300);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  background-color: var(--dl-color-primary-300);
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
.no-memory-no-memory:hover {
  border: none;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.44);
  border-color: var(--dl-color-primary-500);
  border-width: 10px;
  background-color: var(--dl-color-primary-500);
}
.no-memory-no-memory:active {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
  border-color: var(--dl-color-primary-700);
  border-width: 2px;
  background-color: var(--dl-color-primary-700);
}
.no-memory-image {
  width: 400px;
  margin-top: 10px;
  object-fit: cover;
  transition: 0.3s;
  margin-left: 10px;
  border-color: #0b0d10;
  border-style: dotted;
  border-width: 0px;
  margin-right: 10px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 5px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
.no-memory-image:hover {
  border-color: #2D343B;
}
.no-memory-image:active {
  border-color: #566370;
}
.no-memory-title {
  color: var(--dl-color-primary-800);
  font-size: 32px;
  align-self: center;
  margin-top: 0px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
}
.no-memory-root-class-name {
  align-self: center;
}
.no-memory-root-class-name1 {
  align-self: center;
}
.no-memory-root-class-name2 {
  align-self: center;
}
.no-memory-root-class-name3 {
  align-self: center;
}


.no-memory-root-class-name6 {
  align-self: center;
}
.no-memory-root-class-name7 {
  align-self: center;
}
.no-memory-root-class-name8 {
  align-self: center;
}
.no-memory-root-class-name9 {
  align-self: center;
}

.small-game-icon-no-memory {
  flex: 0 0 auto;
  width: 258px;
  height: 263px;
  margin: 0px;
  display: flex;
  position: relative;
  transition: 0.1s;
  align-items: flex-start;
  border-color: var(--dl-color-primary-300);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  background-color: var(--dl-color-primary-300);
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
.small-game-icon-no-memory:hover {
  border: none;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.44);
  border-color: var(--dl-color-primary-500);
  border-width: 10px;
  background-color: var(--dl-color-primary-500);
}
.small-game-icon-no-memory:active {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
  border-color: var(--dl-color-primary-700);
  border-width: 2px;
  background-color: var(--dl-color-primary-700);
}
.small-game-icon-image {
  width: 236px;
  height: 216px;
  margin-top: 10px;
  object-fit: cover;
  transition: 0.3s;
  margin-left: 10px;
  border-color: #0b0d10;
  border-style: dotted;
  border-width: 0px;
  margin-right: 10px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 5px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
.small-game-icon-image:hover {
  border-color: #2D343B;
}
.small-game-icon-image:active {
  border-color: #566370;
}
.small-game-icon-title {
  color: var(--dl-color-primary-800);
  font-size: 20px;
  align-self: center;
  margin-top: 0px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
}

.index-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-primary-100);
}
.index-container1 {
  flex: 1;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.index-nomemory {
  width: 1143px;
  height: 454px;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.index-navlink {
  display: contents;
}
.index-nomemory1 {
  text-decoration: none;
}
.index-iframe {
  width: 685px;
  height: 428px;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.index-neonworld {
  width: 1143px;
  height: 454px;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.index-navlink1 {
  display: contents;
}
.index-neonworld1 {
  text-decoration: none;
}
.index-iframe1 {
  width: 685px;
  height: 428px;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.index-dualinferno {
  width: 1143px;
  height: 454px;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.index-navlink2 {
  display: contents;
}
.index-dualinferno1 {
  text-decoration: none;
}
.index-iframe2 {
  width: 685px;
  height: 428px;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.index-dualinferno2 {
  width: 1143px;
  height: 454px;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.index-navlink3 {
  display: contents;
}
.index-dualinferno3 {
  text-decoration: none;
}
.index-iframe3 {
  width: 685px;
  height: 428px;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.index-grid {
  width: 1057px;
  display: grid;
  margin-top: 20px;
  grid-row-gap: var(--dl-space-space-fourunits);
  margin-bottom: 20px;
  grid-column-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;;
}
.index-spacejuice {
  text-decoration: none;
}
.index-mushroomclouds {
  text-decoration: none;
}
.index-pugio {
  text-decoration: none;
}
.index-fruitbrawl {
  text-decoration: none;
}
@media(max-width: 991px) {
  .index-container1 {
    flex: 0;
    width: 100%;
    align-self: flex-start;
    margin-left: 0px;
  }
  .index-nomemory {
    width: 440px;
  }
  .index-iframe {
    display: none;
  }
  .index-neonworld {
    width: 440px;
  }
  .index-iframe1 {
    display: none;
  }
  .index-dualinferno {
    width: 440px;
  }
  .index-iframe2 {
    display: none;
  }
  .index-dualinferno2 {
    width: 440px;
  }
  .index-iframe3 {
    display: none;
  }
  .index-grid {
    width: 535px;
    padding-left: 0px;
    grid-template-columns: 1fr 1fr;;
  }
}
@media(max-width: 767px) {
  .index-grid {
    grid-template-columns: 1fr;
  }
}
@media(max-width: 479px) {
  .index-grid {
    width: 260px;
    grid-template-columns: 1fr;
  }
}
