.u-section-1 .u-sheet-1 {
  min-height: 119px;
}

.u-section-1 .u-text-1 {
  margin: 40px auto 40px 35px;
}.u-section-2 .u-sheet-1 {
  min-height: 305px;
}

.u-section-2 .u-image-1 {
  width: 177px;
  height: 243px;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
  margin: 24px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: -229px 130px 0 202px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  width: 164px;
  margin: 25px auto 39px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 30px;
    margin-left: 102px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 119px;
}

.u-section-3 .u-text-1 {
  margin: 40px auto 40px 35px;
}.u-section-4 .u-sheet-1 {
  min-height: 614px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  width: 608px;
  transition-duration: 0.2s;
  margin: 40px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 829px;
  height: 466px;
  transition-duration: 0.2s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 11px auto 60px;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 191px;
  }
}

.u-section-4 .u-text-1,
.u-section-4 .u-text-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-text-1.u-text-1.u-text-1:hover {
  text-decoration: underline !important;
}

.u-section-4 .u-text-1.u-text-1.u-text-1.hover {
  text-decoration: underline !important;
}

.u-section-4 .u-image-1,
.u-section-4 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1) !important;
}

.u-section-4 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1) !important;
}

.u-section-4 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-5 .u-sheet-1 {
  min-height: 614px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  transition-duration: 0.5s;
  margin: 11px auto 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 829px;
  height: 466px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 11px auto 60px;
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 191px;
  }
}

.u-section-5 .u-text-1,
.u-section-5 .u-text-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-text-1.u-text-1.u-text-1:hover {
  text-decoration: underline !important;
}

.u-section-5 .u-text-1.u-text-1.u-text-1.hover {
  text-decoration: underline !important;
}

.u-section-5 .u-image-1,
.u-section-5 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1) !important;
}

.u-section-5 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1) !important;
}.u-section-6 .u-sheet-1 {
  min-height: 614px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  transition-duration: 0.5s;
  margin: 11px auto 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 829px;
  height: 466px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 11px auto 60px;
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-6 .u-image-1 {
    width: 720px;
    height: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 191px;
  }
}

.u-section-6 .u-image-1,
.u-section-6 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-6 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1) !important;
}

.u-section-6 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1) !important;
}

.u-section-6 .u-text-1,
.u-section-6 .u-text-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-6 .u-text-1.u-text-1.u-text-1:hover {
  text-decoration: underline !important;
}

.u-section-6 .u-text-1.u-text-1.u-text-1.hover {
  text-decoration: underline !important;
}.u-section-7 .u-sheet-1 {
  min-height: 140px;
}

.u-section-7 .u-text-1 {
  margin: 51px auto 51px 13px;
}.u-section-8 .u-sheet-1 {
  min-height: 493px;
}

.u-section-8 .u-list-1 {
  margin-bottom: 58px;
  margin-top: 0;
}

.u-section-8 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 435px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-8 .u-text-1 {
  margin: 29px auto 0;
}

.u-section-8 .u-btn-1 {
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  padding: 0;
}

.u-section-8 .u-image-1 {
  width: 427px;
  height: 327px;
  transition-duration: 0.5s;
  margin: 29px auto 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-8 .u-text-2 {
  margin: 29px auto 0;
}

.u-section-8 .u-btn-2 {
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-8 .u-image-2 {
  width: 427px;
  height: 327px;
  transition-duration: 0.5s;
  margin: 29px auto 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-repeater-1 {
    min-height: 359px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-image-1 {
    width: 320px;
    height: 245px;
  }

  .u-section-8 .u-image-2 {
    width: 320px;
    height: 245px;
  }
}

.u-section-8 .u-btn-1,
.u-section-8 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-8 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-8 .u-btn-1.u-btn-1.u-btn-1:hover {
  text-decoration: underline !important;
}

.u-section-8 .u-btn-1.u-btn-1.u-btn-1.hover {
  text-decoration: underline !important;
}

.u-section-8 .u-btn-2,
.u-section-8 .u-btn-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-8 .u-btn-2.u-btn-2.u-btn-2:hover {
  text-decoration: underline !important;
}

.u-section-8 .u-btn-2.u-btn-2.u-btn-2.hover {
  text-decoration: underline !important;
}

.u-section-8 .u-image-2,
.u-section-8 .u-image-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-8 .u-image-2.u-image-2.u-image-2:hover {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1) !important;
}

.u-section-8 .u-image-2.u-image-2.u-image-2.hover {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1) !important;
}

.u-section-8 .u-image-1,
.u-section-8 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-8 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1) !important;
}

.u-section-8 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1) !important;
}.u-section-9 .u-sheet-1 {
  min-height: 140px;
}

.u-section-9 .u-text-1 {
  margin: 51px auto 51px 13px;
}.u-section-10 .u-sheet-1 {
  min-height: 420px;
}

.u-section-10 .u-list-1 {
  margin-bottom: 45px;
}

.u-section-10 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 375px;
}

.u-section-10 .u-container-layout-1 {
  padding: 10px;
}

.u-section-10 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-10 .u-btn-1 {
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  padding: 0;
}

.u-section-10 .u-image-1 {
  width: 335px;
  height: 257px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 30px auto 0;
}

.u-section-10 .u-container-layout-2 {
  padding: 10px;
}

.u-section-10 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-10 .u-btn-2 {
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  padding: 0;
}

.u-section-10 .u-image-2 {
  width: 335px;
  height: 257px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 30px auto 0;
}

.u-section-10 .u-container-layout-3 {
  padding: 10px;
}

.u-section-10 .u-text-3 {
  margin: 30px auto 0;
}

.u-section-10 .u-btn-3 {
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  padding: 0;
}

.u-section-10 .u-image-3 {
  width: 335px;
  height: 257px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-repeater-1 {
    min-height: 309px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 710px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-image-1 {
    width: 320px;
    height: 245px;
  }

  .u-section-10 .u-image-2 {
    width: 320px;
    height: 245px;
  }

  .u-section-10 .u-image-3 {
    width: 320px;
    height: 245px;
  }
}

.u-section-10 .u-btn-1,
.u-section-10 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-10 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-10 .u-btn-1.u-btn-1.u-btn-1:hover {
  text-decoration: underline !important;
}

.u-section-10 .u-btn-1.u-btn-1.u-btn-1.hover {
  text-decoration: underline !important;
}

.u-section-10 .u-btn-2,
.u-section-10 .u-btn-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-10 .u-btn-2.u-btn-2.u-btn-2:hover:before {
  background-color: transparent !important;
}

.u-section-10 .u-btn-2.u-btn-2.u-btn-2:hover {
  text-decoration: underline !important;
}

.u-section-10 .u-btn-2.u-btn-2.u-btn-2.hover {
  text-decoration: underline !important;
}

.u-section-10 .u-btn-3,
.u-section-10 .u-btn-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-10 .u-btn-3.u-btn-3.u-btn-3:hover:before {
  background-color: transparent !important;
}

.u-section-10 .u-btn-3.u-btn-3.u-btn-3:hover {
  text-decoration: underline !important;
}

.u-section-10 .u-btn-3.u-btn-3.u-btn-3.hover {
  text-decoration: underline !important;
}

.u-section-10 .u-image-2,
.u-section-10 .u-image-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-10 .u-image-2.u-image-2.u-image-2:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-10 .u-image-2.u-image-2.u-image-2.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-10 .u-image-1,
.u-section-10 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-10 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-10 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-10 .u-image-3,
.u-section-10 .u-image-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-10 .u-image-3.u-image-3.u-image-3:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-10 .u-image-3.u-image-3.u-image-3.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}