.u-section-1 .u-sheet-1 {
  min-height: 119px;
}

.u-section-1 .u-text-1 {
  margin: 40px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 123px;
}

.u-section-2 .u-text-1 {
  margin: 22px auto 0;
}

.u-section-2 .u-btn-1 {
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  transition-duration: 0.5s;
  font-size: 1.875rem;
  margin: 18px auto 22px;
  padding: 0;
}

.u-section-2 .u-btn-1,
.u-section-2 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1:hover {
  text-decoration: underline !important;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1.hover {
  text-decoration: underline !important;
}

.u-section-2 .u-btn-2,
.u-section-2 .u-btn-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-btn-2.u-btn-2.u-btn-2:hover {
  text-decoration: underline !important;
}

.u-section-2 .u-btn-2.u-btn-2.u-btn-2.hover {
  text-decoration: underline !important;
}.u-section-3 .u-sheet-1 {
  min-height: 600px;
}

.u-section-3 .u-video-1 {
  height: 594px;
  width: 1062px;
  margin: 3px auto;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-3 .u-video-1 {
    height: 526px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-3 .u-video-1 {
    height: 404px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 5px;
  }

  .u-section-3 .u-video-1 {
    height: 310px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 0;
  }

  .u-section-3 .u-video-1 {
    height: 200px;
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 622px;
}

.u-section-4 .u-list-1 {
  margin: 35px 0 42px;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 545px;
}

.u-section-4 .u-image-1 {
  background-image: url("/images/Screenshot1.png");
}

.u-section-4 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-4 .u-image-2 {
  background-image: url("/images/Screenshot2.png");
}

.u-section-4 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-4 .u-image-3 {
  background-image: url("/images/Screenshot3-22.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-4 .u-image-4 {
  background-image: url("/images/Screenshot4.png");
}

.u-section-4 .u-container-layout-4 {
  padding: 0 10px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 449px;
  }

  .u-section-4 .u-image-2 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-4 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 547px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 547px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-text-1 {
  margin: 0 auto;
}

.u-section-5 .u-image-1 {
  width: 543px;
  height: 317px;
  margin: 10px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 21px 14px 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 547px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-text-3 {
  margin: 0 auto;
}

.u-section-5 .u-image-2 {
  width: 543px;
  height: 317px;
  margin: 10px auto 0;
}

.u-section-5 .u-text-4 {
  margin: 21px 14px 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 451px;
  }

  .u-section-5 .u-image-1 {
    width: 470px;
    height: 274px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 451px;
  }

  .u-section-5 .u-image-2 {
    width: 470px;
    height: 274px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    width: 360px;
    height: 210px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-image-2 {
    width: 360px;
    height: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 200px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    width: 340px;
    height: 198px;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 198px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 62px;
}

.u-section-6 .u-text-1 {
  margin: 12px auto;
}.u-section-7 .u-sheet-1 {
  min-height: 447px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-image-1 {
  min-height: 447px;
  background-image: url("/images/7f25226bb0bd596d77d5f8cb022c3ff0.gif");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 14px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 447px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 14px;
}

.u-section-7 .u-text-1 {
  margin: 70px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 11px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-7 .u-image-1 {
    min-height: 369px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 369px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-7 .u-image-1 {
    min-height: 283px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-7 .u-image-1 {
    min-height: 425px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 368px;
  }

  .u-section-7 .u-image-1 {
    min-height: 268px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 53px;
}

.u-section-8 .u-text-1 {
  margin: 7px auto;
}.u-section-9 .u-sheet-1 {
  min-height: 313px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 313px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 14px;
}

.u-section-9 .u-text-1 {
  margin: 0;
}

.u-section-9 .u-text-2 {
  margin: 11px 0 0;
}

.u-section-9 .u-image-1 {
  min-height: 313px;
  background-image: url("/images/26a33018897536f985cf50d81af07849.gif");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 14px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 243px;
  }

  .u-section-9 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 258px;
  }

  .u-section-9 .u-image-1 {
    min-height: 258px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-image-1 {
    min-height: 198px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-1 {
    min-height: 297px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-9 .u-image-1 {
    min-height: 187px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 49px;
}

.u-section-10 .u-text-1 {
  width: 273px;
  margin: 5px auto;
}.u-section-11 .u-sheet-1 {
  min-height: 334px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 14px;
  margin-bottom: 14px;
}

.u-section-11 .u-image-1 {
  min-height: 306px;
  background-image: url("/images/a8517edcc16e52eea4ed3cc4573b6de2.gif");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-1 {
  padding: 7px 9px;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 306px;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px 14px;
}

.u-section-11 .u-text-1 {
  margin: 0;
}

.u-section-11 .u-text-2 {
  margin: 13px 0 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-11 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-11 .u-image-1 {
    min-height: 252px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 252px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 187px;
  }

  .u-section-11 .u-image-1 {
    min-height: 193px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-11 .u-image-1 {
    min-height: 290px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 273px;
  }

  .u-section-11 .u-image-1 {
    min-height: 183px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 57px;
}

.u-section-12 .u-text-1 {
  margin: 9px auto;
}.u-section-13 .u-sheet-1 {
  min-height: 88px;
}

.u-section-13 .u-text-1 {
  margin: 19px auto 19px 11px;
}.u-section-14 .u-sheet-1 {
  min-height: 447px;
}

.u-section-14 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-14 .u-image-1 {
  min-height: 447px;
  background-image: url("/images/Pastedimage20220415141218.png");
  background-position: 50% 50%;
}

.u-section-14 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-14 .u-image-2 {
  min-height: 447px;
  background-image: url("/images/Pastedimage20220415141349.png");
  background-position: 50% 50%;
}

.u-section-14 .u-container-layout-2 {
  padding: 30px 7px;
}

.u-section-14 .u-image-3 {
  min-height: 447px;
  background-image: url("/images/Pastedimage20220415141400.png");
  background-position: 50% 50%;
}

.u-section-14 .u-container-layout-3 {
  padding: 30px 0;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-14 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-14 .u-image-1 {
    min-height: 369px;
  }

  .u-section-14 .u-image-2 {
    min-height: 369px;
  }

  .u-section-14 .u-image-3 {
    min-height: 369px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-image-1 {
    min-height: 283px;
  }

  .u-section-14 .u-image-2 {
    min-height: 283px;
  }

  .u-section-14 .u-image-3 {
    min-height: 283px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-image-1 {
    min-height: 708px;
  }

  .u-section-14 .u-image-2 {
    min-height: 749px;
  }

  .u-section-14 .u-image-3 {
    min-height: 509px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-image-1 {
    min-height: 446px;
  }

  .u-section-14 .u-image-2 {
    min-height: 472px;
  }

  .u-section-14 .u-image-3 {
    min-height: 320px;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 44px;
}