.u-section-1 .u-sheet-1 {
  min-height: 119px;
}

.u-section-1 .u-text-1 {
  margin: 40px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-video-1 {
  width: 766px;
  height: 431px;
  margin: 35px auto;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-2 .u-video-1 {
    width: 720px;
    height: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-2 .u-video-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-2 .u-video-1 {
    width: 340px;
    height: 191px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 116px;
}

.u-section-3 .u-text-1 {
  margin: 40px auto;
}

.u-section-3 .u-btn-1 {
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-3 .u-btn-1,
.u-section-3 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1:hover {
  text-decoration: underline !important;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1.hover {
  text-decoration: underline !important;
}.u-section-4 .u-sheet-1 {
  min-height: 47px;
}.u-section-5 .u-sheet-1 {
  min-height: 622px;
}

.u-section-5 .u-list-1 {
  margin: 35px 0 42px;
}

.u-section-5 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 545px;
}

.u-section-5 .u-image-1 {
  background-image: url("/images/Screenshot11.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-5 .u-image-2 {
  background-image: url("/images/Screenshot31.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-5 .u-image-3 {
  background-image: url("/images/Screenshot41.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-5 .u-image-4 {
  background-image: url("/images/Screenshot21.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 10px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 449px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 47px;
}.u-section-7 .u-sheet-1 {
  min-height: 574px;
}

.u-section-7 .u-text-1 {
  margin: 21px auto 0;
}

.u-section-7 .u-image-1 {
  width: 540px;
  height: 369px;
  margin: 30px auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: -332px 30px 0 570px;
}

.u-section-7 .u-text-3 {
  margin: 20px 30px 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-2 {
    margin-right: 0;
    margin-left: 400px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
    margin-left: 400px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-2 {
    margin-left: 180px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-2 {
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 232px;
  }

  .u-section-7 .u-text-2 {
    margin-top: -195px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 47px;
}.u-section-9 .u-sheet-1 {
  min-height: 1367px;
}

.u-section-9 .u-text-1 {
  margin: 21px auto 0;
}

.u-section-9 .u-text-2 {
  margin: 11px 30px 0;
}

.u-section-9 .u-text-3 {
  font-size: 1.875rem;
  margin: 30px auto 0 228px;
}

.u-section-9 .u-text-4 {
  font-size: 1.875rem;
  margin: -33px 229px 0 auto;
}

.u-section-9 .u-image-1 {
  width: 540px;
  height: 369px;
  margin: 21px auto 0 0;
}

.u-section-9 .u-image-2 {
  width: 540px;
  height: 369px;
  margin: -369px 30px 0 auto;
}

.u-section-9 .u-text-5 {
  margin: 21px 620px 0 20px;
}

.u-section-9 .u-text-6 {
  margin: -150px 50px 0 590px;
}

.u-section-9 .u-text-7 {
  font-size: 1.875rem;
  margin: 50px auto 0;
}

.u-section-9 .u-image-3 {
  width: 551px;
  height: 369px;
  margin: 30px auto 0 20px;
}

.u-section-9 .u-text-8 {
  margin: -369px 30px 60px 609px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-5 {
    margin-right: 439px;
    margin-left: 0;
  }

  .u-section-9 .u-text-6 {
    margin-right: 0;
    margin-left: 439px;
  }

  .u-section-9 .u-text-8 {
    margin-right: 0;
    margin-left: 439px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-5 {
    margin-right: 219px;
  }

  .u-section-9 .u-text-6 {
    margin-left: 219px;
  }

  .u-section-9 .u-text-8 {
    margin-left: 219px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1654px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 171px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 172px;
  }

  .u-section-9 .u-image-2 {
    margin-right: 0;
  }

  .u-section-9 .u-text-5 {
    margin-right: 39px;
  }

  .u-section-9 .u-text-6 {
    margin-left: 39px;
  }

  .u-section-9 .u-image-3 {
    width: 540px;
    height: 362px;
    margin-left: 0;
  }

  .u-section-9 .u-text-8 {
    margin-top: -362px;
    margin-left: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1182px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 108px;
    font-size: 1.5rem;
  }

  .u-section-9 .u-text-4 {
    font-size: 1.5rem;
    margin-right: 108px;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 232px;
  }

  .u-section-9 .u-image-2 {
    width: 340px;
    height: 232px;
  }

  .u-section-9 .u-text-5 {
    margin-right: 0;
  }

  .u-section-9 .u-text-6 {
    margin-left: 0;
  }

  .u-section-9 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-image-3 {
    width: 340px;
    height: 228px;
  }

  .u-section-9 .u-text-8 {
    margin-top: -228px;
    margin-left: 0;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 47px;
}.u-section-11 .u-sheet-1 {
  min-height: 314px;
}

.u-section-11 .u-text-1 {
  font-size: 1.875rem;
  margin: 26px auto 0 560px;
}

.u-section-11 .u-image-1 {
  width: 551px;
  height: 175px;
  margin: 30px auto 0 570px;
}

.u-section-11 .u-text-2 {
  margin: -175px 600px 50px 20px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    margin-left: 461px;
  }

  .u-section-11 .u-image-1 {
    margin-left: 390px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 421px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-text-1 {
    margin-left: 353px;
  }

  .u-section-11 .u-image-1 {
    margin-left: 169px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 265px;
  }

  .u-section-11 .u-image-1 {
    width: 540px;
    height: 172px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-2 {
    margin-top: -172px;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 167px;
  }

  .u-section-11 .u-image-1 {
    width: 340px;
    height: 108px;
  }

  .u-section-11 .u-text-2 {
    margin-top: -108px;
    margin-right: 0;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 47px;
}.u-section-13 .u-sheet-1 {
  min-height: 460px;
}

.u-section-13 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-13 .u-image-1 {
  width: 551px;
  height: 316px;
  margin: 36px 20px 0 auto;
}

.u-section-13 .u-text-2 {
  margin: -245px 606px 60px 14px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-text-1 {
    margin-left: 461px;
  }

  .u-section-13 .u-image-1 {
    margin-left: 390px;
  }

  .u-section-13 .u-text-2 {
    margin-right: 421px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-text-1 {
    margin-left: auto;
  }

  .u-section-13 .u-image-1 {
    margin-left: auto;
  }

  .u-section-13 .u-text-2 {
    margin-right: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-13 .u-image-1 {
    width: 540px;
    height: 310px;
    margin-right: 0;
  }

  .u-section-13 .u-text-2 {
    margin-top: -239px;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-13 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-13 .u-image-1 {
    width: 340px;
    height: 195px;
  }

  .u-section-13 .u-text-2 {
    margin-top: -124px;
    margin-right: 0;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 47px;
}.u-section-15 .u-sheet-1 {
  min-height: 460px;
}

.u-section-15 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-15 .u-image-1 {
  width: 551px;
  height: 316px;
  margin: 30px auto 0 20px;
}

.u-section-15 .u-text-2 {
  margin: -258px 20px 60px 600px;
}

@media (max-width: 1199px) {
  .u-section-15 .u-text-1 {
    margin-left: 461px;
  }

  .u-section-15 .u-image-1 {
    margin-left: 390px;
  }

  .u-section-15 .u-text-2 {
    margin-right: 421px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-text-1 {
    margin-left: auto;
  }

  .u-section-15 .u-image-1 {
    margin-left: 10px;
  }

  .u-section-15 .u-text-2 {
    margin-right: 10px;
    margin-left: 190px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-15 .u-image-1 {
    width: 540px;
    height: 310px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-15 .u-text-2 {
    margin-top: -252px;
    margin-right: 0;
    margin-left: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-15 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-15 .u-image-1 {
    width: 340px;
    height: 195px;
  }

  .u-section-15 .u-text-2 {
    margin-top: -137px;
    margin-left: 0;
  }
}