.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-primary-100);
}
.video {
  width: 955px;
  height: 596px;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
.playcontainer {
  flex: 0 0 auto;
  width: 290px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.link {
  display: contents;
}
.playbutton {
  text-decoration: none;
}
.screenshots {
  width: 961px;
  display: grid;
  margin-top: 20px;
  grid-row-gap: 0;
  margin-bottom: 20px;
  grid-column-gap: 0px;
  grid-template-columns: 1fr 1fr;;
}
.image {
  width: 480px;
  height: 400px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 5%;
}
.image1 {
  width: 480px;
  height: 400px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-right-radius: 5%;
}
.image2 {
  width: 480px;
  height: 400px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  border-bottom-left-radius: 5%;
}
.image3 {
  width: 480px;
  height: 400px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  border-bottom-right-radius: 5%;
}
.text {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 17px;
  align-self: center;
  margin-left: 0px;
}
.container01 {
  flex: 0 0 auto;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container02 {
  flex: 0 0 auto;
  width: 495px;
  height: 473px;
  display: flex;
  align-items: flex-start;
  margin-right: 5px;
  flex-direction: column;
}
.roll {
  color: var(--dl-color-primary-900);
  width: 495px;
  font-size: 31px;
  align-self: center;
  margin-top: 10px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.div {
  width: 495px;
  height: 294px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
.text01 {
  color: var(--dl-color-primary-900);
  width: 495px;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.container03 {
  flex: 0 0 auto;
  width: 495px;
  height: 439px;
  display: flex;
  align-items: flex-start;
  margin-left: 5px;
  flex-direction: column;
}
.three-hit {
  color: var(--dl-color-primary-900);
  width: 495px;
  font-size: 31px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.div01 {
  width: 495px;
  height: 300px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.text02 {
  color: var(--dl-color-primary-900);
  width: 495px;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.container04 {
  flex: 0 0 auto;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container05 {
  flex: 0 0 auto;
  width: 495px;
  height: 429px;
  display: flex;
  align-items: flex-start;
  margin-right: 5px;
  flex-direction: column;
}
.charge-attack {
  color: var(--dl-color-primary-900);
  width: 495px;
  font-size: 31px;
  align-self: center;
  margin-top: 10px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.div02 {
  width: 495px;
  height: 273px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.text03 {
  color: var(--dl-color-primary-900);
  width: 495px;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.container06 {
  flex: 0 0 auto;
  width: 495px;
  height: 424px;
  display: flex;
  align-items: flex-start;
  margin-left: 5px;
  flex-direction: column;
}
.fireball {
  color: var(--dl-color-primary-900);
  width: 495px;
  font-size: 31px;
  align-self: center;
  margin-top: 10px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.div03 {
  width: 495px;
  height: 264px;
  align-self: center;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.text06 {
  color: var(--dl-color-primary-900);
  width: 495px;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.fireball01 {
  color: var(--dl-color-primary-900);
  width: 500px;
  font-size: 31px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.text07 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.div04 {
  width: 1000px;
  height: 560px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.text11 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.fireball02 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 31px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.container07 {
  flex: 0 0 auto;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container08 {
  flex: 0 0 auto;
  width: 495px;
  height: 354px;
  display: flex;
  align-items: flex-start;
  margin-right: 5px;
  flex-direction: column;
}
.charge-attack1 {
  color: var(--dl-color-primary-900);
  width: 495px;
  font-size: 31px;
  align-self: center;
  margin-top: 10px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.div05 {
  width: 495px;
  height: 305px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.container09 {
  flex: 0 0 auto;
  width: 495px;
  height: 347px;
  display: flex;
  align-items: flex-start;
  margin-left: 5px;
  flex-direction: column;
}
.fireball03 {
  color: var(--dl-color-primary-900);
  width: 495px;
  font-size: 31px;
  align-self: center;
  margin-top: 10px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.div06 {
  width: 495px;
  height: 295px;
  align-self: center;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.text14 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.container10 {
  flex: 0 0 auto;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container11 {
  flex: 0 0 auto;
  width: 495px;
  height: 350px;
  display: flex;
  align-items: flex-start;
  margin-right: 5px;
  flex-direction: column;
}
.charge-attack2 {
  color: var(--dl-color-primary-900);
  width: 495px;
  font-size: 31px;
  align-self: center;
  margin-top: 10px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.div07 {
  width: 495px;
  height: 292px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.container12 {
  flex: 0 0 auto;
  width: 495px;
  height: 353px;
  display: flex;
  align-items: flex-start;
  margin-left: 5px;
  flex-direction: column;
}
.fireball04 {
  color: var(--dl-color-primary-900);
  width: 495px;
  font-size: 31px;
  align-self: center;
  margin-top: 10px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.div08 {
  width: 495px;
  height: 286px;
  align-self: center;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.container13 {
  flex: 0 0 auto;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container14 {
  flex: 0 0 auto;
  width: 495px;
  height: 464px;
  display: flex;
  align-items: flex-start;
  margin-right: 5px;
  flex-direction: column;
}
.charge-attack3 {
  color: var(--dl-color-primary-900);
  width: 495px;
  font-size: 31px;
  align-self: center;
  margin-top: 10px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.div09 {
  width: 495px;
  height: 293px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  padding-bottom: Infinitypx;
}
.text15 {
  color: var(--dl-color-primary-900);
  width: 495px;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.container15 {
  flex: 0 0 auto;
  width: 495px;
  height: 480px;
  display: flex;
  align-items: flex-start;
  margin-left: 5px;
  flex-direction: column;
}
.fireball05 {
  color: var(--dl-color-primary-900);
  width: 495px;
  font-size: 31px;
  align-self: center;
  margin-top: 10px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.div10 {
  width: 495px;
  height: 287px;
  align-self: center;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.text18 {
  color: var(--dl-color-primary-900);
  width: 495px;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.fireball06 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 31px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.text19 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.div11 {
  width: 1000px;
  height: 516px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.text20 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.fireball07 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 31px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.text21 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.text22 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.fireball08 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 31px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.text23 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.text24 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.container16 {
  flex: 0 0 auto;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container17 {
  flex: 0 0 auto;
  width: 495px;
  height: 460px;
  display: flex;
  align-items: flex-start;
  margin-right: 5px;
  flex-direction: column;
}
.charge-attack4 {
  color: var(--dl-color-primary-900);
  width: 495px;
  font-size: 31px;
  align-self: center;
  margin-top: 10px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.div12 {
  width: 495px;
  height: 439px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.container18 {
  flex: 0 0 auto;
  width: 495px;
  height: 440px;
  display: flex;
  align-items: flex-start;
  margin-left: 5px;
  flex-direction: column;
}
.fireball09 {
  color: var(--dl-color-primary-900);
  width: 495px;
  font-size: 31px;
  align-self: center;
  margin-top: 10px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.div13 {
  width: 495px;
  height: 476px;
  align-self: center;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.text25 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.fireball10 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 31px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.text26 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.div14 {
  width: 1000px;
  height: 603px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.text27 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.text30 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.text33 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.div15 {
  width: 1000px;
  height: 564px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.text34 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.fireball11 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 31px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.text35 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.text36 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.fireball12 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 31px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.text37 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.image4 {
  width: 1000px;
  object-fit: cover;
}
.text38 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.text39 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.image5 {
  width: 1000px;
  object-fit: cover;
}
.text40 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.fireball13 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 31px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.text41 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.image6 {
  width: 1000px;
  object-fit: cover;
}
.text42 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.image7 {
  width: 1000px;
  object-fit: cover;
}
.text43 {
  color: var(--dl-color-primary-900);
  width: 1000px;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.container19 {
  width: 0%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 0px;
  display: flex;
  margin-top: 200px;
  align-items: flex-start;
  flex-direction: column;
}
@media(max-width: 1600px) {
  .playcontainer {
    display: none;
  }
  .container02 {
    height: 455px;
  }
  .div {
    height: 318px;
  }
  .container03 {
    height: 426px;
  }
  .three-hit {
    text-align: center;
  }
  .div01 {
    height: 297px;
  }
  .container05 {
    height: 451px;
  }
  .div02 {
    height: 273px;
  }
  .container06 {
    height: 449px;
    padding-bottom: 0px;
  }
  .div03 {
    height: 273px;
  }
  .fireball01 {
    text-align: center;
  }
  .text07 {
    width: 1000px;
  }
  .div04 {
    width: 1000px;
    height: 541px;
  }
  .text11 {
    width: 1000px;
  }
  .fireball02 {
    text-align: center;
  }
  .container08 {
    height: 352px;
  }
  .div05 {
    height: 273px;
  }
  .container09 {
    height: 350px;
    padding-bottom: 0px;
  }
  .div06 {
    height: 273px;
  }
  .container11 {
    height: 352px;
  }
  .div07 {
    height: 273px;
  }
  .container12 {
    height: 350px;
    padding-bottom: 0px;
  }
  .div08 {
    height: 273px;
  }
  .container14 {
    height: 451px;
  }
  .div09 {
    height: 273px;
  }
  .container15 {
    height: 484px;
    padding-bottom: 0px;
  }
  .div10 {
    height: 273px;
  }
  .fireball06 {
    text-align: center;
  }
  .text19 {
    width: 1000px;
  }
  .div11 {
    width: 1000px;
    height: 541px;
  }
  .fireball07 {
    text-align: center;
  }
  .fireball08 {
    text-align: center;
  }
  .container17 {
    height: 352px;
  }
  .div12 {
    height: 273px;
  }
  .container18 {
    height: 350px;
    padding-bottom: 0px;
  }
  .div13 {
    height: 273px;
  }
  .fireball10 {
    text-align: center;
  }
  .div14 {
    width: 1000px;
    height: 590px;
  }
  .div15 {
    width: 1000px;
    height: 562px;
  }
  .fireball11 {
    text-align: center;
  }
  .fireball12 {
    text-align: center;
  }
  .image4 {
    width: 1000px;
  }
  .image5 {
    width: 1000px;
  }
  .fireball13 {
    text-align: center;
  }
  .image6 {
    width: 1000px;
  }
  .image7 {
    width: 1000px;
  }
}
@media(max-width: 991px) {
  .video {
    display: none;
  }
  .screenshots {
    width: 961px;
    padding-left: 0px;
    grid-template-columns: 1fr 1fr;;
  }
  .container01 {
    width: 100%;
  }
  .container02 {
    width: 50%;
  }
  .container03 {
    width: 50%;
  }
  .container04 {
    width: 100%;
  }
  .container05 {
    width: 50%;
  }
  .container06 {
    width: 50%;
  }
  .fireball01 {
    width: 50%;
  }
  .text07 {
    width: 50%;
  }
  .div04 {
    width: 50%;
  }
  .text11 {
    width: 50%;
  }
  .fireball02 {
    width: 100%;
  }
  .container07 {
    width: 100%;
  }
  .container08 {
    width: 50%;
  }
  .container09 {
    width: 50%;
  }
  .text14 {
    width: 100%;
  }
  .container10 {
    width: 100%;
  }
  .container11 {
    width: 50%;
  }
  .container12 {
    width: 50%;
  }
  .container13 {
    width: 100%;
  }
  .container14 {
    width: 50%;
  }
  .container15 {
    width: 50%;
  }
  .fireball06 {
    width: 50%;
  }
  .text19 {
    width: 50%;
  }
  .div11 {
    width: 50%;
  }
  .text20 {
    width: 100%;
  }
  .fireball07 {
    width: 100%;
  }
  .text21 {
    width: 100%;
  }
  .text22 {
    width: 100%;
  }
  .fireball08 {
    width: 100%;
  }
  .text23 {
    width: 100%;
  }
  .text24 {
    width: 100%;
  }
  .container16 {
    width: 100%;
  }
  .container17 {
    width: 50%;
  }
  .container18 {
    width: 50%;
  }
  .text25 {
    width: 100%;
  }
  .fireball10 {
    width: 100%;
  }
  .text26 {
    width: 100%;
  }
  .div14 {
    width: 50%;
  }
  .text27 {
    width: 100%;
  }
  .text30 {
    width: 100%;
  }
  .text33 {
    width: 100%;
  }
  .div15 {
    width: 50%;
  }
  .text34 {
    width: 100%;
  }
  .fireball11 {
    width: 100%;
  }
  .text35 {
    width: 100%;
  }
  .text36 {
    width: 100%;
  }
  .fireball12 {
    width: 100%;
  }
  .text37 {
    width: 100%;
  }
  .text38 {
    width: 100%;
  }
  .text39 {
    width: 100%;
  }
  .text40 {
    width: 100%;
  }
  .fireball13 {
    width: 100%;
  }
  .text41 {
    width: 100%;
  }
  .text42 {
    width: 100%;
  }
  .text43 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .screenshots {
    width: 493px;
    grid-template-columns: 1fr;
  }
  .image {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .image1 {
    border-bottom-left-radius: 0px;
  }
  .image2 {
    border-bottom-left-radius: 0px;
  }
  .image3 {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .text {
    width: 80%;
  }
  .roll {
    width: 80%;
  }
  .text01 {
    width: 80%;
  }
  .three-hit {
    width: 80%;
  }
  .text02 {
    width: 80%;
  }
  .charge-attack {
    width: 80%;
  }
  .text03 {
    width: 80%;
  }
  .fireball {
    width: 80%;
  }
  .text04 {
    width: 80%;
  }
  .text06 {
    width: 80%;
  }
  .fireball01 {
    width: 80%;
  }
  .text07 {
    width: 80%;
  }
  .text11 {
    width: 80%;
  }
  .fireball02 {
    width: 80%;
  }
  .charge-attack1 {
    width: 80%;
  }
  .fireball03 {
    width: 80%;
  }
  .text12 {
    width: 80%;
  }
  .text14 {
    width: 80%;
  }
  .charge-attack2 {
    width: 80%;
  }
  .fireball04 {
    width: 80%;
  }
  .charge-attack3 {
    width: 80%;
  }
  .text15 {
    width: 80%;
  }
  .fireball05 {
    width: 80%;
  }
  .text16 {
    width: 80%;
  }
  .text18 {
    width: 80%;
  }
  .fireball06 {
    width: 80%;
  }
  .text19 {
    width: 80%;
  }
  .text20 {
    width: 80%;
  }
  .fireball07 {
    width: 80%;
  }
  .text21 {
    width: 80%;
  }
  .text22 {
    width: 80%;
  }
  .fireball08 {
    width: 80%;
  }
  .text23 {
    width: 80%;
  }
  .text24 {
    width: 80%;
  }
  .charge-attack4 {
    width: 80%;
  }
  .fireball09 {
    width: 80%;
  }
  .text25 {
    width: 80%;
  }
  .fireball10 {
    width: 80%;
  }
  .text26 {
    width: 80%;
  }
  .text27 {
    width: 80%;
  }
  .text30 {
    width: 80%;
  }
  .text33 {
    width: 80%;
  }
  .text34 {
    width: 80%;
  }
  .fireball11 {
    width: 80%;
  }
  .text35 {
    width: 80%;
  }
  .text36 {
    width: 80%;
  }
  .fireball12 {
    width: 80%;
  }
  .text37 {
    width: 80%;
  }
  .text38 {
    width: 80%;
  }
  .text39 {
    width: 80%;
  }
  .text40 {
    width: 80%;
  }
  .fireball13 {
    width: 80%;
  }
  .text41 {
    width: 80%;
  }
  .text42 {
    width: 80%;
  }
  .text43 {
    width: 80%;
  }
}
@media(max-width: 479px) {
  .screenshots {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .image {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .image1 {
    border-top-right-radius: 0;
  }
  .image3 {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .text {
    width: 100%;
  }
  .container01 {
    width: 400px;
  }
  .container02 {
    width: 200px;
  }
  .roll {
    width: 200px;
  }
  .div {
    width: 200px;
  }
  .text01 {
    width: 200px;
  }
  .container03 {
    width: 200px;
  }
  .three-hit {
    width: 200px;
  }
  .div01 {
    width: 200px;
  }
  .text02 {
    width: 200px;
  }
  .charge-attack {
    width: 100%;
  }
  .text03 {
    width: 100%;
  }
  .fireball {
    width: 100%;
  }
  .text04 {
    width: 100%;
  }
  .text06 {
    width: 100%;
  }
  .fireball01 {
    width: 100%;
  }
  .text07 {
    width: 100%;
  }
  .text11 {
    width: 100%;
  }
  .fireball02 {
    width: 100%;
  }
  .charge-attack1 {
    width: 100%;
  }
  .fireball03 {
    width: 100%;
  }
  .text12 {
    width: 100%;
  }
  .text14 {
    width: 100%;
  }
  .charge-attack2 {
    width: 100%;
  }
  .fireball04 {
    width: 100%;
  }
  .charge-attack3 {
    width: 100%;
  }
  .text15 {
    width: 100%;
  }
  .fireball05 {
    width: 100%;
  }
  .text16 {
    width: 100%;
  }
  .text18 {
    width: 100%;
  }
  .fireball06 {
    width: 100%;
  }
  .text19 {
    width: 100%;
  }
  .text20 {
    width: 100%;
  }
  .fireball07 {
    width: 100%;
  }
  .text21 {
    width: 100%;
  }
  .text22 {
    width: 100%;
  }
  .fireball08 {
    width: 100%;
  }
  .text23 {
    width: 100%;
  }
  .text24 {
    width: 100%;
  }
  .charge-attack4 {
    width: 100%;
  }
  .fireball09 {
    width: 100%;
  }
  .text25 {
    width: 100%;
  }
  .fireball10 {
    width: 100%;
  }
  .text26 {
    width: 100%;
  }
  .text27 {
    width: 100%;
  }
  .text30 {
    width: 100%;
  }
  .text33 {
    width: 100%;
  }
  .text34 {
    width: 100%;
  }
  .fireball11 {
    width: 100%;
  }
  .text35 {
    width: 100%;
  }
  .text36 {
    width: 100%;
  }
  .fireball12 {
    width: 100%;
  }
  .text37 {
    width: 100%;
  }
  .text38 {
    width: 100%;
  }
  .text39 {
    width: 100%;
  }
  .text40 {
    width: 100%;
  }
  .fireball13 {
    width: 100%;
  }
  .text41 {
    width: 100%;
  }
  .text42 {
    width: 100%;
  }
  .text43 {
    width: 100%;
  }
}
