.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-primary-100);
}
.home-container1 {
  flex: 1;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.home-nomemory {
  width: 1143px;
  height: 454px;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.home-navlink {
  display: contents;
}
.home-nomemory1 {
  text-decoration: none;
}
.home-iframe {
  width: 685px;
  height: 428px;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.home-neonworld {
  width: 1143px;
  height: 454px;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.home-navlink1 {
  display: contents;
}
.home-neonworld1 {
  text-decoration: none;
}
.home-iframe1 {
  width: 685px;
  height: 428px;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.home-dualinferno {
  width: 1143px;
  height: 454px;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.home-iframe2 {
  width: 685px;
  height: 428px;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.home-dualinferno2 {
  width: 1143px;
  height: 454px;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.home-navlink2 {
  display: contents;
}
.home-dualinferno3 {
  text-decoration: none;
}
.home-iframe3 {
  width: 685px;
  height: 428px;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.home-grid {
  width: 1057px;
  display: grid;
  margin-top: 20px;
  grid-row-gap: var(--dl-space-space-fourunits);
  margin-bottom: 20px;
  grid-column-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;;
}
.home-spacejuice {
  text-decoration: none;
}
.home-mushroomclouds {
  text-decoration: none;
}
.home-pugio {
  text-decoration: none;
}
.home-fruitbrawl {
  text-decoration: none;
}
@media(max-width: 991px) {
  .home-container1 {
    flex: 0;
    width: 100%;
    align-self: flex-start;
    margin-left: 0px;
  }
  .home-nomemory {
    width: 440px;
  }
  .home-iframe {
    display: none;
  }
  .home-neonworld {
    width: 440px;
  }
  .home-iframe1 {
    display: none;
  }
  .home-dualinferno {
    width: 440px;
  }
  .home-iframe2 {
    display: none;
  }
  .home-dualinferno2 {
    width: 440px;
  }
  .home-iframe3 {
    display: none;
  }
  .home-grid {
    width: 535px;
    padding-left: 0px;
    grid-template-columns: 1fr 1fr;;
  }
}
@media(max-width: 767px) {
  .home-grid {
    grid-template-columns: 1fr;
  }
}
@media(max-width: 479px) {
  .home-grid {
    width: 260px;
    grid-template-columns: 1fr;
  }
}
