.neon-world-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.neon-world-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-primary-100);
}
.neon-world-video {
  width: 955px;
  height: 596px;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
.neon-world-playcontainer {
  flex: 0 0 auto;
  width: 290px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.neon-world-link {
  display: contents;
}
.neon-world-playbutton {
  text-decoration: none;
}
.neon-world-screenshots {
  width: 961px;
  display: grid;
  margin-top: 20px;
  grid-row-gap: 0;
  margin-bottom: 20px;
  grid-column-gap: 0px;
  grid-template-columns: 1fr 1fr;;
}
.neon-world-image {
  width: 480px;
  height: 400px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 5%;
}
.neon-world-image01 {
  width: 480px;
  height: 400px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-right-radius: 5%;
}
.neon-world-image02 {
  width: 480px;
  height: 400px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  border-bottom-left-radius: 5%;
}
.neon-world-image03 {
  width: 480px;
  height: 400px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  border-bottom-right-radius: 5%;
}
.neon-world-playerabilities {
  width: 1011px;
  display: grid;
  margin-top: 20px;
  grid-row-gap: 0;
  margin-bottom: 20px;
  grid-column-gap: 0px;
  grid-template-columns: 1fr 1fr;;
}
.neon-world-container2 {
  flex: 0 0 auto;
  width: 508px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.neon-world-text {
  color: var(--dl-color-primary-900);
  font-size: 25px;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.neon-world-image04 {
  width: 503px;
  height: 360px;
  object-fit: cover;
  border-radius: 25px;
}
.neon-world-text01 {
  color: var(--dl-color-primary-900);
  font-size: 25px;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.neon-world-container3 {
  flex: 0 0 auto;
  width: 508px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.neon-world-text05 {
  color: var(--dl-color-primary-900);
  font-size: 25px;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.neon-world-image05 {
  width: 503px;
  height: 360px;
  object-fit: cover;
  border-radius: 25px;
}
.neon-world-text06 {
  color: var(--dl-color-primary-900);
  font-size: 25px;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.neon-world-grid {
  width: 1011px;
  display: grid;
  margin-top: 20px;
  grid-row-gap: 20px;
  margin-bottom: 20px;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr;;
}
.neon-world-image06 {
  width: 529px;
  height: 404px;
  align-self: flex-start;
  object-fit: cover;
  margin-left: 0px;
  border-radius: 25px;
}
.neon-world-text10 {
  color: var(--dl-color-primary-900);
  font-size: 25px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.neon-world-text11 {
  font-style: normal;
  font-weight: 700;
}
.neon-world-text14 {
  font-style: normal;
  font-weight: 700;
}
.neon-world-grid1 {
  width: 1011px;
  display: grid;
  margin-top: 20px;
  grid-row-gap: 20px;
  margin-bottom: 20px;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr;;
}
.neon-world-text18 {
  color: var(--dl-color-primary-900);
  font-size: 25px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.neon-world-text19 {
  font-style: normal;
  font-weight: 700;
}
.neon-world-text22 {
  font-style: normal;
  font-weight: 700;
}
.neon-world-image07 {
  width: 457px;
  height: 404px;
  align-self: flex-start;
  object-fit: cover;
  margin-left: 0px;
  border-radius: 25px;
}
.neon-world-grid2 {
  width: 1011px;
  display: grid;
  margin-top: 20px;
  grid-row-gap: 20px;
  margin-bottom: 20px;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr;;
}
.neon-world-image08 {
  width: 529px;
  height: 404px;
  align-self: flex-start;
  object-fit: cover;
  margin-left: 0px;
  border-radius: 25px;
}
.neon-world-text26 {
  color: var(--dl-color-primary-900);
  font-size: 25px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.neon-world-text27 {
  font-style: normal;
  font-weight: 700;
}
.neon-world-text30 {
  font-style: normal;
  font-weight: 700;
}
.neon-world-text38 {
  color: var(--dl-color-primary-900);
  width: 80%;
  font-size: 25px;
  align-self: center;
  margin-top: 10px;
  margin-left: 00px;
  padding-top: 20px;
  margin-right: 00px;
  margin-bottom: 10px;
}
.neon-world-image09 {
  width: 1008px;
  height: 404px;
  align-self: center;
  object-fit: cover;
  margin-left: 0px;
  border-radius: 25px;
}
@media(max-width: 991px) {
  .neon-world-video {
    display: none;
  }
  .neon-world-screenshots {
    width: 961px;
    padding-left: 0px;
    grid-template-columns: 1fr 1fr;;
  }
  .neon-world-playerabilities {
    width: 100%;
    padding-left: 0px;
    grid-template-columns: 1fr 1fr;;
  }
  .neon-world-grid {
    width: 100%;
    padding-left: 0px;
    grid-template-columns: 1fr 1fr;;
  }
  .neon-world-grid1 {
    width: 100%;
    padding-left: 0px;
    grid-template-columns: 1fr 1fr;;
  }
  .neon-world-grid2 {
    width: 100%;
    padding-left: 0px;
    grid-template-columns: 1fr 1fr;;
  }
}
@media(max-width: 767px) {
  .neon-world-screenshots {
    width: 493px;
    grid-template-columns: 1fr;
  }
  .neon-world-image {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .neon-world-image01 {
    border-top-right-radius: 0;
  }
  .neon-world-image02 {
    border-bottom-left-radius: 0px;
  }
  .neon-world-image03 {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .neon-world-playerabilities {
    width: 506px;
    grid-template-columns: 1fr;
  }
  .neon-world-grid {
    width: 537px;
    grid-template-columns: 1fr;
  }
  .neon-world-grid1 {
    width: 537px;
    grid-template-columns: 1fr;
  }
  .neon-world-grid2 {
    width: 537px;
    grid-template-columns: 1fr;
  }
  .neon-world-text38 {
    width: 80%;
  }
}
@media(max-width: 479px) {
  .neon-world-screenshots {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .neon-world-image {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .neon-world-image03 {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .neon-world-playerabilities {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .neon-world-grid {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .neon-world-image06 {
    width: 100%;
  }
  .neon-world-text10 {
    width: 100%;
  }
  .neon-world-grid1 {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .neon-world-image07 {
    width: 100%;
  }
  .neon-world-grid2 {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .neon-world-image08 {
    width: 100%;
  }
  .neon-world-text26 {
    width: 100%;
  }
  .neon-world-text38 {
    width: 100%;
  }
  .neon-world-image09 {
    width: 100%;
  }
}
