.container {
  display: flex;
  position: relative;
}
.text {
  color: var(--dl-color-gray-900);
  font-size: 45px;
  align-self: center;
  margin-top: 20px;
  text-align: left;
  margin-left: 0px;
  margin-bottom: 20px;
}

.root-class-name1 {
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.root-class-name2 {
  align-self: center;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.root-class-name3 {
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}

.root-class-name5 {
  align-self: center;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.root-class-name6 {
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.root-class-name7 {
  align-self: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.root-class-name8 {
  align-self: center;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
