.header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #24292E;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navlink {
  display: contents;
}
.nameandtitle {
  flex: 0 0 auto;
  width: 341px;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
}
.nameandtitle:hover {
  border-top-left-radius: 25px;
}
.name {
  color: var(--dl-color-gray-900);
  font-size: 35px;
  font-family: Roboto Mono;
}
.title {
  color: var(--dl-color-primary-800);
  font-size: 25px;
}
.socialandresume {
  flex: 0 0 auto;
  width: 130px;
  height: 65px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.social {
  flex: 0;
  width: 195px;
  height: 61px;
  display: flex;
  margin-top: 10px;
  align-items: flex-start;
  margin-right: 0px;
}
.link {
  display: contents;
}
.icon {
  fill: var(--dl-color-primary-900);
  width: 35px;
  height: 35px;
  align-self: center;
  margin-left: 4px;
  margin-right: 4px;
  text-decoration: none;
}
.link1 {
  display: contents;
}
.icon2 {
  fill: var(--dl-color-primary-900);
  width: 35px;
  height: 35px;
  align-self: center;
  margin-left: 4px;
  margin-right: 4px;
  text-decoration: none;
}
.link2 {
  display: contents;
}
.icon4 {
  fill: var(--dl-color-primary-900);
  width: 35px;
  height: 35px;
  align-self: center;
  margin-left: 4px;
  margin-right: 4px;
  text-decoration: none;
}
.resume {
  color: var(--dl-color-primary-800);
  font-size: 25px;
  align-self: flex-start;
  text-decoration: none;
}
.root-class-name {
  background-color: var(--dl-color-primary-300);
}
.root-class-name1 {
  background-color: var(--dl-color-primary-300);
}
.root-class-name2 {
  background-color: var(--dl-color-primary-300);
}
.root-class-name3 {
  background-color: var(--dl-color-primary-300);
}
.root-class-name4 {
  background-color: var(--dl-color-primary-300);
}
.root-class-name5 {
  background-color: var(--dl-color-primary-300);
}
.root-class-name6 {
  background-color: var(--dl-color-primary-300);
}
.root-class-name7 {
  background-color: var(--dl-color-primary-300);
}
.root-class-name8 {
  background-color: var(--dl-color-primary-300);
}
@media(max-width: 991px) {
  .nameandtitle {
    margin-top: 10px;
  }
  .socialandresume {
    margin-top: 10px;
  }
  .resume {
    align-self: flex-start;
  }
}
@media(max-width: 767px) {
  .header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .header {
    height: 180px;
    padding: var(--dl-space-space-unit);
  }
}
